<section class="about" id="about">
  <div class="container about__container">
    <h3 class="about__title">О студии</h3>
    <div class="about__content">
      <div class="about__left">
        <p class="about__left-descr">
          В рамках спецификации современных стандартов, интерактивные прототипы, инициированные исключительно
          синтетически, ограничены исключительно образом мышления. Предварительные выводы неутешительны:
          высокотехнологичная концепция общественного уклада требует от нас анализа соответствующих условий активизации!
          Следует отметить, что семантический разбор внешних противодействий фиксирует необходимость распределения
          внутренних резервов и ресурсов. Безусловно, граница обучения кадров предоставляет широкие возможности для
          первоочередных требований. Повседневная практика показывает, что глубокий уровень погружения предполагает
          независимые способы реализации новых принципов формирования материально-технической и кадровой базы. Приятно,
          граждане, наблюдать, как явные признаки институционализации являются только методом политического участия и
          нарушающими общечеловеческие нормы этики.
        </p>
      </div>
      <div class="about__right">
        <picture class="about__right-pic">
          <source srcset="img/about-photo-320.jpg" media="(max-width: 320px)">
          <source srcset="img/about-photo-1024.jpg" media="(max-width: 680px)">
          <source srcset="img/about-photo-768.jpg" media="(max-width: 768px)">
          <source srcset="img/about-photo-1024.jpg" media="(max-width: 1024px)">
          <source srcset="img/about-photo.avif" type="image/avif">
          <source srcset="img/about-photo.webp" type="image/webp">
          <img loading="lazy" src="img/about-photo.jpg" class="image about__right-pic-img" width="630" height="255" alt="Фотография">
        </picture>
        <div class="about__right-content">
          <h3 class="about__right-title">Подписаться на рассылку</h3>
          <form action="#" class="about__right-form js-focus-visible form">
            <label class="about__right-form-container form__label">
              <input type="text" name="mail" class="input-reset about__right-form__input form__input input-mail"
                placeholder="E-mail">
            </label>
            <button class="btn-reset btn about__right-form-btn form__btn">Отправить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
