<footer class="footer">
  <div class="footer__top">
    <div class="container footer__container">
      <div class="footer__left footer__content">
        <a class="footer__left-logo logo">
          <img loading="lazy" src="img/Logo.svg" class="image" width="190" height="31" alt="Логотип High pass">
        </a>
        <span class="footer__left-text">Фотостудия High pass® 2018-2020</span>
      </div>
      <div class="footer__center footer__content">
        <p class="footer__center-descr">Которая из&nbsp;моих фотографий самая любимая?<br>Та, которую я&nbsp;собираюсь
          снять завтра.</p>
        <span class="footer__center-text">© Имоджен Каннингем</span>
      </div>
      <div class="footer__right footer__content">
        <span class="footer__right-text">Больше интересного:</span>
        <ul class="social list-reset footer__social" title="Социальные сети">
          <li class="social__item">
            <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Наша страничка в Одноклассниках">
              <svg class="">
                <use xlink:href="img/sprite.svg#ok"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link social__link--vk" aria-label="Наша страничка в Вконтакте">
              <svg class="">
                <use xlink:href="img/sprite.svg#vk"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container footer__bottom-container"></div>
  </div>
</footer>
