<section class="hero">
  <div class="container hero__container">
    <h1 class="visually-hidden">Студия High pass</h1>
    <article class="hero__post">
        <a href="#" class="hero__post-hashtag hashtag" tabindex="-1">#мастеркласс</a>
        <!-- <picture>
          <source srcset="img/hero-1-1024.jpg" media="(max-width: 1024px)">
          <source srcset="img/hero-1.avif" type="image/avif">
          <source srcset="img/hero-1.webp" type="image/webp">
          <img loading="lazy" src="img/hero-1.jpg" class="image hero__post-img" width="630" height="630"
            alt="Мастер-класс от Игоря Робова">
        </picture> -->
        <div class="hero__post-content">
          <span class="hero__post-master">Мастер-класс от Игоря Робова</span>
          <h2 class="hero__post-title">Неоновый фотосет 2.0 7 июля 20:00</h2>
          <a href="#" class="hero__post-btn btn btn-reset">Узнать больше</a>
        </div>
    </article>
    <div class="hero__works">
      <h3 class="hero__works-title">Работы участников предыдущего мастер-класса</h3>
      <ul class="hero__works-list list-reset">
        <li class="hero__works-item-1 item-fz">
          <picture>
            <source srcset="img/hero-2-320.jpg" media="(max-width: 320px)">
            <source srcset="img/hero-2-768.jpg" media="(max-width: 768px)">
            <source srcset="img/hero-2-1024.jpg" media="(max-width: 1024px)">
            <source srcset="img/hero-2.avif" type="image/avif">
            <source srcset="img/hero-2.webp" type="image/webp">
            <img loading="lazy" src="img/hero-2.jpg" class="image" width="630" height="300" alt="Работы участников">
          </picture>
        </li>
        <li class="hero__works-item-2 item-fz">
          <picture>
            <source srcset="img/hero-3-320.jpg" media="(max-width: 320px)">
            <source srcset="img/hero-3-768.jpg" media="(max-width: 768px)">
            <source srcset="img/hero-3-1024.jpg" media="(max-width: 1024px)">
            <source srcset="img/hero-3.avif" type="image/avif">
            <source srcset="img/hero-3.webp" type="image/webp">
            <img loading="lazy" src="img/hero-3.jpg" class="image" width="300" height="257" alt="Работы участников">
          </picture>
        </li>
        <li class="hero__works-item-3 item-fz">
          <picture>
            <source srcset="img/hero-4-320.jpg" media="(max-width: 320px)">
            <source srcset="img/hero-4-768.jpg" media="(max-width: 768px)">
            <source srcset="img/hero-4-1024.jpg" media="(max-width: 1024px)">
            <source srcset="img/hero-4.avif" type="image/avif">
            <source srcset="img/hero-4.webp" type="image/webp">
            <img loading="lazy" src="img/hero-4.jpg" class="image" width="300" height="257" alt="Работы участников">
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
